# Adds a Prefix to the organization name prevent collisions.
prefix = # Required

# Provider Setup Details
# [Optional] Enter the Harness Platform URL.  Defaults to Harness SaaS URL
harness_platform_url = "https://app.harness.io/gateway"

# [Required] Enter the Harness Platform Account Number
harness_platform_account = # Required

# [Required] Enter the Harness Platform API Key for your account
harness_platform_key = # Required

# [Optional] Provide a Map of Tags to associate with all organizations and resources create
global_tags = {}
